<div class="topic-thumbnail">
  <a href='{{topic.url}}'>
    {{#if topic.image_url}}
      <div class="thumbnail tiles-thumbnail">
        <img src="{{topic.image_url}}" />
      </div>
    {{/if}}
  </a>
</div>
